name: Publish project to NuGet
on:
  push:
    branches:
      - main
  workflow_dispatch:
jobs:
  publish:
    name: Publish to nuget
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./projects
    strategy:
      matrix:
        proj: [VitalRecord, VitalRecord.Messaging, BFDR, BFDR.Messaging]
    steps:
      - uses: actions/checkout@v3
      - name: Publish to NuGet
        uses: alirezanet/publish-nuget@v3.1.0
        with:
          PROJECT_FILE_PATH: projects/${{ matrix.proj }}/${{ matrix.proj }}.csproj # Relative to repository root
          # VERSION_FILE_PATH: Directory.Build.props # Filepath with version info, shared between all projects in this repo
          VERSION_REGEX: <Version>(.*)<\/Version> # Regex pattern to extract version info in a capturing group
          TAG_COMMIT: true # Tag the project when the version has changed
          TAG_FORMAT: ${{ matrix.proj }}-* # Format of the git tag, [*] gets replaced with version
          NUGET_KEY: ${{secrets.NUGET_API_KEY}} # nuget.org API key
          PACKAGE_NAME: ${{ matrix.proj }}
          INCLUDE_SYMBOLS: false
